# Python and Django-specific
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg
*.swp
*.swo
*.swn
*.db
*.sqlite3
*.pid
*.log

# Virtual environment
venv/
myenv/
.env

# Django-specific
*.mo
*.pot
*.po
*.bak
*.DS_Store
*.project
*.settings
local_settings.py
db.sqlite3

# PyCharm and other IDEs
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
